<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coco.lock.favorites"
    android:versionCode="1"
    android:versionName="1.0.36909" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.coco.lock.test.FavoritesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 常用应用  start -->
        <service
            android:name="com.coco.lock.favorites.FavoritesService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.favorites.service" />
            </intent-filter>
        </service>
        <!-- 常用应用  end -->
    </application>

</manifest>