* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s linear;
}
a:link,
a:active,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}
#background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.top-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  padding-top: 97px;
  background: #3e3e3e;
}
.top-area .hotspot {
  width: 100%;
}
.top-area .hotspot .header {
  width: 100%;
  background: #3e3e3e;
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  overflow: hidden;
}
.top-area .hotspot .header p {
  padding-left: 10px;
  float: left;
}
.top-area .hotspot .header .refresh {
  float: right;
  width: 10%;
  margin-right: 5px;
}
.top-area .hotspot .header .refresh img {
  width: 100%;
  display: block;
}
.top-area .hotspot .content {
  width: 100%;
  padding: 5px 5px 0px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}
.top-area .hotspot .content .content-item {
  width: 49.14%;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  overflow: hidden;
}
.top-area .hotspot .content .a {
  background-color: #f7f7f7;
  color: #646464;
}
.top-area .hotspot .content .b {
  background-color: #4282a6;
}
.top-area .hotspot .content .c {
  background-color: #02b8cd;
}
.top-area .hotspot .content .d {
  background-color: #12a89d;
}
.top-area .hotspot .content .e {
  background-color: #67c7bc;
}
.top-area .hotspot .content .f {
  background-color: #8acda4;
}
.top-area .hotspot .content .g {
  background-color: #71b383;
}
.top-area .hotspot .content .h {
  background-color: #f7f7f7;
  color: #646464;
}
.top-area .ring {
  position: absolute;
  right: 21px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: scale(0.5) translate3d(0, -100%, 0);
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(0deg);
  }
  20% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(-8deg);
  }
  40% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(6deg);
  }
  60% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(-4deg);
  }
  80% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(2deg);
  }
  100% {
    -webkit-transform: scale(0.5) translate3d(0, 0%, 0) rotate(0deg);
  }
}
@-webkit-keyframes swing-down-up {
  0% {
    -webkit-transform: translate3d(0, -70px, 0);
  }
  20% {
    -webkit-transform: translate3d(0, -58px, 0);
  }
  40% {
    -webkit-transform: translate3d(0, -79px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -64px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -73px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -70px, 0);
  }
}
@-webkit-keyframes swing-up-down {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  20% {
    -webkit-transform: translate3d(0, -104%, 0);
  }
  40% {
    -webkit-transform: translate3d(0, -97%, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -102%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -99%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
}
